<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.AdminMapper">

	<sql id="FIELDS">
        card, password, phone, name, addr, count
    </sql>

	<!-- 更新 count 数-1 -->
	<update id="updateCountLessByPackId" parameterType="String">
		UPDATE t_admin
		SET count = count - 1
		WHERE addr IN (
			SELECT addr
			FROM t_pack
			WHERE id = #{id}
		)
	</update>

	<!-- 更新 count 数+1 -->
	<update id="updateCountPlusByPackId" parameterType="String">
		UPDATE t_admin
		SET count = count + 1
		WHERE addr IN (
			SELECT addr
			FROM t_pack
			WHERE id = #{id}
		)
	</update>

</mapper>