<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.CodeMapper">

	<sql id="FIELDS">
        code, addr, status, free
    </sql>

	<select id="findMaxCode" parameterType="Code" resultType="Integer">
		SELECT count(*)
		FROM t_code
		WHERE code = #{code}
		AND addr = #{addr}
		AND free = ""
	</select>

	<update id="updateCode" parameterType="Code">
		UPDATE t_code
		SET status = #{status}
			, free = #{free}
		WHERE code = #{code}
		AND addr = #{addr}
	</update>

	<select id="findCodeFreeMin" parameterType="String" resultType="Code">
		SELECT code, addr, status, free
		FROM t_code
		WHERE addr = #{addr}
		AND status = 0
		AND free IN (
			SELECT MIN(free)
			FROM t_code
			WHERE addr = #{addr}
			AND status = 0
		)
	</select>
</mapper>