<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.PackMapper">

	<sql id="FIELDS">
        id, org, per_name, per_tel, per_addr, addr, code, cont_name, cont_tel, status, start, end, pick
    </sql>

	<!-- 根据包裹手机号获取对应用户所有快递数 -->
	<select id="getUserAllTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE per_tel = #{phone}
	</select>

	<!-- 根据包裹手机号获取对应用户已取快递数 -->
	<select id="getUserIsTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE per_tel = #{phone}
		AND status = 0
	</select>

	<!-- 根据包裹手机号获取对应用户未取快递数 -->
	<select id="getUserNoTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE (per_tel = #{phone} AND status = 1)
		OR (per_tel = #{phone} AND status = -1)
	</select>

	<!-- 根据 User 学号查询出该 User 所有快递集合 -->
	<select id="getUserPacks" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="addr != null and addr.length > 0">
			AND addr IN (
			<foreach collection="addr.split(',')" item="addr" index="index" separator=",">
				'${addr}'
			</foreach>
			)
		</if>
		<if test="status[0] != 2">
			<if test="status != null and status.length > 0">
				AND status IN (
				<foreach collection="status" item="status" index="index" separator=",">
					${status}
				</foreach>
				)
			</if>
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY start ASC, code ASC
	</select>

	<!-- 根据 User 学号查询出该 User 已取快递集合 -->
	<select id="getUserIsPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE status = 0
		AND per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY end DESC
	</select>

	<!-- 根据 User 学号查询出该 User 未取快递集合 -->
	<select id="getUserNoPick" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE (status = 1 OR status = -1)
		AND per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="addr != null and addr.length > 0">
			AND addr IN (
			<foreach collection="addr.split(',')" item="addr" index="index" separator=",">
				'${addr}'
			</foreach>
			)
		</if>
		<if test="status[0] != 2">
			<if test="status != null and status.length > 0">
				AND status IN (
				<foreach collection="status" item="status" index="index" separator=",">
					${status}
				</foreach>
				)
			</if>
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY status DESC, code ASC, start DESC
	</select>

	<!-- 根据驿站地址获取该驿站所有快递数 -->
	<select id="getAdminAllTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE addr = #{addr}
	</select>

	<!-- 根据驿站地址获取该驿站已取快递数 -->
	<select id="getAdminIsTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE addr = #{addr}
		AND status = 0
	</select>

	<!-- 根据驿站地址获取该驿站未取快递数 -->
	<select id="getAdminNoTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE (addr = #{addr} AND status = 1)
		OR (addr = #{addr} AND status = -1)
	</select>

	<!-- 根据 Admin 编号查询出所在驿站的所有快递集合 -->
	<select id="getAdminPacks" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
				<foreach collection="org.split(',')" item="org" index="index" separator=",">
					'${org}'
				</foreach>
			)
		</if>
		<if test="status[0] != 2">
			<if test="status != null and status.length > 0">
				AND status IN (
				<foreach collection="status" item="status" index="index" separator=",">
					${status}
				</foreach>
				)
			</if>
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY start DESC, code ASC
	</select>

	<!-- 根据 Admin 编号查询出所在驿站已取快递集合 -->
	<select id="getAdminIsPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE status = 0
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY end DESC
	</select>

	<!-- 根据 Admin 编号查询出所在驿站未取快递集合 -->
	<select id="getAdminNoPick" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE (status = 1 OR status = -1)
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="status[0] != 2">
			<if test="status != null and status.length > 0">
				AND status IN (
				<foreach collection="status" item="status" index="index" separator=",">
					${status}
				</foreach>
				)
			</if>
		</if>
		<if test="search != '' and search != null">
			AND (
				id LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR org LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR per_addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR addr LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR code LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_name LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR cont_tel LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR start LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR end LIKE CONCAT(CONCAT('%', #{search}), '%')
				OR pick LIKE CONCAT(CONCAT('%', #{search}), '%')
			)
		</if>
		ORDER BY code ASC, start DESC
	</select>

	<!-- 根据驿站地址取出当前驿站未有取件码的快递中入站时间最早的快递 -->
	<select id="getPackByStartMin" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr = #{addr}
		AND status = -1
		AND start IN (
			SELECT MIN(start)
			FROM t_pack
			WHERE addr = #{addr}
			AND status = -1
		)
		ORDER BY start ASC
		LIMIT 1
	</select>

	<!-- 根据驿站地址和货架获取当前货架的所有快递 -->
	<select id="getShelfPack" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		AND status = 1
		AND code LIKE CONCAT(#{shelf}, '%')
		ORDER BY code
	</select>

	<!-- 获取不筛选不分页的驿站所有快递集合 -->
	<select id="getAllPacksByExcelOfAdmin" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		ORDER BY start DESC, code ASC
	</select>

	<!-- 获取不筛选不分页的驿站已取快递集合 -->
	<select id="getIsPacksByExcelOfAdmin" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE status = 0
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		ORDER BY end DESC
	</select>

	<!-- 获取不筛选不分页的驿站未取快递集合 -->
	<select id="getNoPacksByExcelOfAdmin" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE (status = 1 OR status = -1)
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		ORDER BY code ASC, start DESC
	</select>

</mapper>