<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.PackMapper">

	<sql id="FIELDS">
        id, org, per_name, per_tel, per_addr, addr, code, cont_name, cont_tel, status, start, end, pick
    </sql>

	<!-- 根据单号获取到该快递信息 -->
	<select id="getPackById" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE id = #{id}
	</select>

	<!-- 根据驿站地址和取件码查询出快递信息 -->
	<select id="getPackByAddrAndCode" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr = #{addr}
		AND code = #{code}
		AND status = 1
	</select>

	<!-- 快递入站 -->
	<insert id="addPack" parameterType="Pack">
		INSERT INTO t_pack (
    		id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		) VALUES (
    		#{id}, #{org}, #{per_name}
			, #{per_tel}, #{per_addr}, #{addr}
			, #{code}, #{cont_name}, #{cont_tel}
			, #{status}, #{start}, #{end}, #{pick}
		)
	</insert>

	<!-- 更新快递信息 -->
	<update id="updatePack" parameterType="Pack">
		UPDATE t_pack
		SET org = #{org}, per_name = #{per_name}, per_tel = #{per_tel}, per_addr = #{per_addr}
			, addr = #{addr}, code = #{code}, cont_name = #{cont_name}, cont_tel = #{cont_tel}
			, status = #{status}, start = #{start}, end = #{end}, pick = #{pick}
		WHERE id = #{id}
	</update>

	<!-- 根据包裹手机号获取对应用户所有快递数 -->
	<select id="getUserAllTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE per_tel = #{phone}
	</select>

	<!-- 根据包裹手机号获取对应用户已取快递数 -->
	<select id="getUserIsTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE per_tel = #{phone}
		AND status = 0
	</select>

	<!-- 根据包裹手机号获取对应用户未取快递数 -->
	<select id="getUserNoTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE per_tel = #{phone}
		AND status = 1
		OR status = -1
	</select>

	<!-- 根据 User 学号查询出该 User 所有快递集合 -->
	<select id="getUserPacks" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		<if test="addr != null and addr.length > 0">
			AND addr IN (
			<foreach collection="addr.split(',')" item="addr" index="index" separator=",">
				'${addr}'
			</foreach>
			)
		</if>
		ORDER BY start DESC
	</select>

	<!-- 根据 User 学号查询出该 User 已取快递集合 -->
	<select id="getUserIsPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE status = 0
		AND per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		ORDER BY end DESC
	</select>

	<!-- 根据 User 学号查询出该 User 未取快递集合 -->
	<select id="getUserNoPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE (status = 1 OR status = -1)
		AND per_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		ORDER BY code
	</select>

	<!-- 根据驿站地址获取该驿站所有快递数 -->
	<select id="getAdminAllTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE addr = #{addr}
	</select>

	<!-- 根据驿站地址获取该驿站已取快递数 -->
	<select id="getAdminIsTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE addr = #{addr}
		AND status = 0
	</select>

	<!-- 根据驿站地址获取该驿站未取快递数 -->
	<select id="getAdminNoTotalNum" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_pack
		WHERE addr = #{addr}
		AND status = 1
		OR status = -1
	</select>

	<!-- 根据 Admin 编号查询出所在驿站的所有快递集合 -->
	<select id="getAdminPacks" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
				<foreach collection="org.split(',')" item="org" index="index" separator=",">
					'${org}'
				</foreach>
			)
		</if>
		ORDER BY start DESC
	</select>

	<!-- 根据 Admin 编号查询出所在驿站已取快递集合 -->
	<select id="getAdminIsPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE status = 0
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		ORDER BY end DESC
	</select>

	<!-- 根据 Admin 编号查询出所在驿站未取快递集合 -->
	<select id="getAdminNoPick" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE (status = 1 OR status = -1)
		AND addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		<if test="org != null and org.length > 0">
			AND org IN (
			<foreach collection="org.split(',')" item="org" index="index" separator=",">
				'${org}'
			</foreach>
			)
		</if>
		ORDER BY code
	</select>

	<!-- 根据驿站地址取出当前驿站未有取件码的快递中入站时间最早的快递 -->
	<select id="getPackByStartMin" parameterType="String" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, per_addr, addr
			, code, cont_name, cont_tel
			, status, start, end, pick
		FROM t_pack
		WHERE addr = #{addr}
		AND status = -1
		AND start IN (
			SELECT MIN(start)
			FROM t_pack
			WHERE addr = #{addr}
			AND status = -1
		)
	</select>

	<!-- 根据驿站地址和货架取出当前货架的所有快递 -->
	<select id="getShelfPack" resultType="Pack">
		SELECT id, org, per_name
			, per_tel, code, start
		FROM t_pack
		WHERE addr IN (
			SELECT addr
			FROM t_admin
			WHERE card = #{card}
		)
		AND status = 1
		AND code LIKE CONCAT(#{shelf}, '%')
		ORDER BY code
	</select>

	<!-- 根据快递单号删除此快递 -->
	<delete id="deletePackById" parameterType="String">
		DELETE FROM t_pack
		WHERE id = #{id}
	</delete>

	<!-- 根据快递单号查询出此快递状态 -->
	<select id="getStatusById" parameterType="String" resultType="Integer">
		SELECT status
		FROM t_pack
		WHERE id = #{id}
	</select>

</mapper>