<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.SendMapper">

	<sql id="FIELDS">
        from_name, from_tel, from_addr, to_name, to_tel, to_addr, id, org, status, dt
    </sql>

	<insert id="addSend" parameterType="Send">
		INSERT INTO t_send (
			from_name, from_tel, from_addr
			, to_name, to_tel, to_addr
			, id, org, status, dt
		) VALUES (
			#{from_name}, #{from_tel}, #{from_addr}
			, #{to_name}, #{to_tel}, #{to_addr}
			, #{id}, #{org}, #{status}, #{dt}
		)
	</insert>

	<delete id="deleteSend" parameterType="String">
		DELETE FROM t_send
		WHERE id = #{id}
	</delete>

	<update id="updateSend" parameterType="Send">
		UPDATE t_send
		SET status = #{status}
			, dt = #{dt}
		WHERE id = #{id}
	</update>

	<select id="getSendByUser" parameterType="String" resultType="Send">
		SELECT from_name, from_tel, from_addr
			, to_name, to_tel, to_addr
			, id, org, status, dt
		FROM t_send
		WHERE from_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
	</select>

	<select id="getSendByAdmin" parameterType="String" resultType="Send">
		SELECT from_name, from_tel, from_addr
			, to_name, to_tel, to_addr
			, id, org, status, dt
		FROM t_send
		WHERE org = #{org}
	</select>

	<select id="getTotalByUser" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_send
		WHERE from_tel IN (
			SELECT phone
			FROM t_user
			WHERE card = #{card}
		)
	</select>

	<select id="getTotalByAdmin" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM t_send
		WHERE org = #{org}
	</select>

</mapper>