<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.kirito.pack.mapper.UserMapper">

	<sql id="FIELDS">
        card, password, phone, name, addr, count, mail
    </sql>

	<!-- 随机获取一个 User 信息 -->
	<select id="getUserByRand" resultType="User">
		SELECT card, password, phone, name, addr, count, mail
		FROM t_user
		ORDER BY RAND()
		LIMIT 1
	</select>

	<!-- 更新 count 数-1 -->
	<update id="updateCountLessByPackId" parameterType="String">
		UPDATE t_user
		SET count = count - 1
		WHERE phone IN (
			SELECT per_tel
			FROM t_pack
			WHERE id = #{id}
		)
	</update>

	<!-- 更新 count 数+1 -->
	<update id="updateCountPlusByPackId" parameterType="String">
		UPDATE t_user
		SET count = count + 1
		WHERE phone IN (
			SELECT per_tel
			FROM t_pack
			WHERE id = #{id}
		)
	</update>

	<!-- 根据快递单号查询出收件人邮箱、取件码、驿站地址、快递公司信息 -->
	<select id="getMailById" parameterType="String" resultType="Map">
		SELECT T2.mail mail
			, T1.code code
			, T1.addr addr
			, T1.org org
		FROM t_pack T1
		LEFT JOIN t_user T2
		ON T1.per_tel = T2.phone
		WHERE T1.id = #{id}
	</select>

</mapper>